@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-space-grotesk: "Space Grotesk", sans-serif;
}

body {
    font-family: var(--font-space-grotesk);
}

.input,
.textarea {
    @apply flex h-10 w-full rounded-md border border-gray-300 bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.textarea {
    @apply min-h-[80px];
}

.bg-\[\#1e1f21\] {
    background-color: #1e1f21 !important;
}

.hover\:bg-\[\#2e2f31\]:hover {
    background-color: #2e2f31 !important;
}
